doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no")
		meta(name="format-detection", content="telphone=no,email=no")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		title #{title}
		link(rel="stylesheet", href="../style/common.css")
		link(rel="stylesheet", href="../style/article.css")
	body
		div.wrapper
			div.info(style="background-image:url(#{background})")
				p.title #{title}
				p.msg
					span #{source}&nbsp;&nbsp;
					sapn #{date}
			div.content !{content}